input{
    width:15%;
    font-size: large;
   margin-right:1550px
}

.buttonname{
   position: relative;
   right: 1000px;
}
.listname{
    font-size: x-large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.buttonname, .listname{
    display:inline-block;
}