.AboutUsImg{
    margin:0px;
    width:100%;
    height:270px;
    background-size:cover;
    background-image: url('https://images.pexels.com/photos/791763/pexels-photo-791763.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
}

.headingAboutUs{
    color:white;
    font-size: 50px;
  padding-top: 150px;;
    margin:0px;
    

}

.AboutUsBody{
    height:2000px;
    width:100%;
    position: relative;
}

.AboutUsImg2{
   position: absolute;
   right:200px;
   top:400px;
    height:350px;
    width:500px;
    
    background-size: cover;
    background-image: url('https://images.pexels.com/photos/4720571/pexels-photo-4720571.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
}

.AboutUsImg3{
    background-image: url('https://images.pexels.com/photos/1552103/pexels-photo-1552103.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
    position: absolute;
    right:240px;
    top:850px;
     height:350px;
     width:500px;
     
     background-size: cover;
}
.AboutUsImg4{
    position: absolute;
    right:240px;
    top:1250px;
     height:350px;
     width:500px;
     background-size: cover;
     background-image: url('https://images.pexels.com/photos/14623753/pexels-photo-14623753.jpeg?auto=compress&cs=tinysrgb&w=1200&lazy=load')}


.AboutUsImg5{
    position: absolute;
    right:240px;
    top:1650px;
     height:350px;
     width:500px;
     background-size: cover;
     background-image: url('https://images.pexels.com/photos/1092885/pexels-photo-1092885.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
}
     .SubHeadingAboutUs{
    color:black;
    font-size: 32px;
    font-family: bold;
    width:260px;
    position: absolute;
    left:20%;
    top:21%


}
.AboutUsParagraph{
    width:350px;
    position:absolute;
    top:28%;
    left:20%
}