.FAQImg1{
    background-image: url('https://images.pexels.com/photos/685531/pexels-photo-685531.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    width:100%;
    height:200px;
    margin:0px;

}

.FAQheading{
    margin:0px;
    color:white;
    background-color: #4169e1;
    padding-bottom: 30px;
    padding-top: 10px;
}

.FAQbody{
    height: 1500px;;
    width:100%;
    background-color: #4169e1;
}

.FAQSection1{
    width:25%;
    color:white;
    
    text-align: center;
    margin-left:38%;
    padding-left: 2%;
    padding-right:2%;
}