.header{
    background-color: black;
    border-color: black;
   text-align: right;
    margin-top :40px; 
}

.header-fieldset{
    color:black;
    background-color: black;
    max-width:6000px;
    border:10px solid black;
    border-bottom: 4px white;
}
.FIND-A-GYM-Button, .EXPORE-Button, .LOGIN-Button{
    background-color: black;
    color: white;
    border:0px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-right: 50px;
    font-size: large;
}

.JOIN-Button1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: larger;
    background-color: blue;
    color:white;
    border-color: blue;
    margin-right: 70px;
    padding:10px;
    padding-left:20px;
    padding-right:20px;
}

.EXPORE-Button{
    width:95px;
}

.subHeading-fieldset{
    background-color: black;
    color:black;
}

.subHeading-fieldset{
    text-align: center;
}

.subHeading-fieldset button{
    background-color: black;
    color: white;
    margin-left:20px;
    margin-right:20px;
    font-size: medium;
    border:0;
}


.subHeading-fieldset button :active :hover:visited{
    color: yellow; 
}

.button-container{
    position:relative;
    top:35%;
    bottom:65%;
    left:60%;
    transform: translate(-50%, -50%);
 
    border: 2px solid white;
    width : 275px;
    height: 125px;
    
    background-color: black;
    box-shadow: 8px 10px black;
}

.JOIN-Button2{
    position:fixed;
    background-color: blue;
    color:white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: xx-large;
    padding:20px;
    padding-bottom: 10px;
    padding-top:10px;
    margin-top:15px;
    margin-left:60px;
    box-shadow: 3px 7px black;
}

.Label-Discount{
    color:white;
    font-size :x-large;
    font-style: italic;
    margin-top:40px;
    font-family: sans-serif;
}

.Label-Discount,.JOIN-Button2{
    display:block;
    gap:10px;
}

.MainPage{
    background-image: url('https://images.pexels.com/photos/2261485/pexels-photo-2261485.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height:900px;
}

.EXPLORE-Button{
   margin-left: 1700px;;
   
}



